<div>
{{#unless logged_in}}
        <a href="/login/sign-in">Sign In</a>
        <a href="/login/new">Register</a>
{{/unless}}

{{#if logged_in}}
        Welcome {{email}}! <br>
        Employee ID: {{employee_id}} <br>
        <a href="/login/sign-out">Sign Out</a>
    </div>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../public/registration.html">Register</a>
                    </li>
                    <li>
                       <a href="../public/login.html">Sign In </a> 
                    </li>
                </ul>
            </div>
            
        </div>
        
    </nav>


<div class="container">
    <header class="business-header"> 
        <div class="col-lg-12">
            <h1 class="tagline">Fork-this-POS</h1>
        </div>
        <img id="head" src="assets/images/shop_cart.png" alt="checkOut" >
        
        <div class="row">
               
        </div>
        
    </header>
</div>

<div class="container">
        
    <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="scanForm">
                    <form class="create-update-form" action="/pos/add" method="POST">
                        <div id="text"><span id="scanText">Enter a UPC code or scan one below. </span></div>
                        <div class="form-group">
                            <label id="addText"  for="addItem"></label>
                            <input type="text" id="addItem" name="addItem" placeholder="Add Item #">
                        </div>
                        <div id="itemErrMsg"></div>
                        <button class="btn btn-success" id="btnAdd" type="submit">Add Item to Order</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary order-summary" >
                    <div class="panel-heading" id="orderHead">
                        <h3 class="panel-title">Order Summary</h3>
                        <div class="label label-danger total">Total: $<span id="runningTotal">0.00</span></div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <th>Sku</th>
                            <th>Description</th>
                            <th>Price</th>
                            </thead>
                            <tbody class="table-striped" id="orderSummaryBody">
                            
                            </tbody>
                        </table>
                    </div>                    
                    <div class="pull-right">
                        <span class="btn btn-default" id="clearOrder">Clear</span>
                        <span class="btn btn-danger" id="checkBtn" click="checkout()">Checkout</span>
                    </div>
                </div>
            </div>
        </div>

</div>
{{/if}}