<div>
{{#unless logged_in}}
        <a href="/login/sign-in">Sign In</a>
        <a href="/login/new">Register</a>
{{/unless}}

{{#if logged_in}}
        Welcome {{email}}! <br>
        Employee ID: {{employee_id}} <br>
        <a href="/login/sign-out">Sign Out</a>
    </div>

    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron" style="background-color: rgba(0,0,0,.7); color: white">
            <h2><span>Fork This POS</span></h2>
            <span class="pull-right text-muted">Today is October 18, 2016 (Thu)</span>
            <div class="text-muted">Orlando, FL</div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="scanForm">
                    <form class="create-update-form" action="/pos/add" method="POST">
                        <div id="text"><span id="scanText">Enter a UPC code or scan one below. </span></div>
                        <div class="form-group">
                            <label for="addItem">Add item:</label>
                            <input type="text" id="addItem" name="addItem">
                        </div>
                        <div id="itemErrMsg"></div>
                        <button type="submit">Add Item to Order</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary"
                     style="background-color: rgba(0,0,0,.7); color: white; border-color: #0000cc;">
                    <div class="panel-heading" style="background-color: #3333ff; border-color: #0000cc;">
                        <h3 class="panel-title">Order Summary</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <th>Sku</th>
                            <th>Description</th>
                            <th>Price</th>
                            </thead>
                            <tbody class="table-striped" id="orderSummaryBody">
                            <!--Order line items are added here via pos.js -->
                            </tbody>
                        </table>
                        <!--<div class="text-warning" hide="order.length">-->
                            <!--Nothing added-->
                        <!--</div>-->
                        <!--<ul class="list-group" id="orderSummary">-->
                            <!--<li class="list-group-item" repeat="item in order">-->
                                <!--<div class="label label-success">Product Price</div>-->
                                <!--<div class="label label-default">Product Description</div>-->

                                <!--<button class="btn btn-danger btn-xs pull-right" click="deleteItem(index)">-->
                                    <!--<span class="glyphicon glyphicon-trash"></span>-->
                                <!--</button>-->
                            <!--</li>-->

                        <!--</ul>-->

                    </div>
                    <div class="panel-footer" show="order.length">
                        <div class="label label-danger">Total: Sum</div>
                    </div>
                    <div class="panel-footer" show="order.length">
                        <div class="text-muted">
                            What form of payment will you be using?
                        </div>
                    </div>
                    <div class="pull-right">
                        <span class="btn btn-default" click="clearOrder()">Clear</span>
                        <span class="btn btn-danger" click="checkout()">Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}